body {
    margin: 0;
    padding: 2rem;
    background: #e6e6e6;
    text-align: center;
}
ul.gallery {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: calc(300px * 3 + 2rem * 2);
    font-size: 0;
}
.gallery li {
    box-sizing: border-box;
    width: 300px;
    padding: 0.575rem;
    border: 0.4rem solid #000;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 16px;
}
.gallery li:nth-child(3n) {
    margin-right: 0;
}
.gallery img {
    width: 100%;
    height: auto;
    display: block;
}